html {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}
body {
    /**border: 1px solid rgb(230, 230, 230);
    width: 200px;
    height: 270px;**/
    padding: 0;
    margin: 0;
}
.top_part {
    background-color: rgb(50, 50, 50);
    height: 70px;
    width: 200px;
    margin: 0px;
    padding: 0;
    color: white;
    text-align: right;
}
.controls {
    position: absolute;
    margin: 0;
    padding: 0;
}
.minibutton {
    font-size: 7px;
    font-weight: bold;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 5px;
    width: 10px;
    margin: 0;
    padding: 0px;
    background-color: rgb(230, 230, 230);
    color: rgb(230, 230, 230);
}
.minibutton:hover {
    color: black;
}
.control_close:hover {
    background-color: red;
}
.control_minimize:hover {
    background-color: lightgreen;
}
.control_maximize:hover {
    background-color: orange;
}
.resultDiv {
    position: relative;
}
.result {
    position: absolute;
    font-size: 30px;
    right: 10px;
}
.interactivo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 200px;
    height: 200px;
}
button {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(215, 215, 215);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 15px;
}
button:active {
    background-color: rgb(100, 100, 100);
    color: white;
}

.topbutton {
    background-color: rgb(180, 180, 180);
    border: 1px solid rgb(150, 150, 150);
}
.operators {
    background-color: orange;
    color: white;
}

#divi,
#minus,
#plus,
#equal {
    font-size: 20px;
}
.num0 {
    grid-column: 1/3;
    grid-row: -2/-1;
}
.num1 {
    grid-column: 1/2;
    grid-row: 4/5;
}
.num2 {
    grid-column: 2/3;
    grid-row: 4/5;
}
.num3 {
    grid-column: 3/4;
    grid-row: 4/5;
}
.num4 {
    grid-column: 1/2;
    grid-row: 3/4;
}
.num5 {
    grid-column: 2/3;
    grid-row: 3/4;
}
.num6 {
    grid-column: 3/4;
    grid-row: 3/4;
}
.num7 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.num8 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.num9 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.coma {
    grid-column: 3/4;
    grid-row: 5/6;
}
.ac {
    grid-column: 1/2;
    grid-row: 1/2;
}

.positive-negative {
    grid-column: 2/3;
    grid-row: 1/2;
}
.porcent {
    grid-column: 3/4;
    grid-row: 1/2;
}
.division {
    grid-column: 4/5;
    grid-row: 1/2;
}
.multit {
    grid-column: 4/5;
    grid-row: 2/3;
}
.substrac {
    grid-column: 4/5;
    grid-row: 3/4;
}
.add {
    grid-column: 4/5;
    grid-row: 4/5;
}
.equal {
    grid-column: 4/5;
    grid-row: 5/6;
}
